<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<p><a href="/movies/comedy/">Фильмы жанра комедия</a></p>
<p><a href="/movies/thriller/">Фильмы жанра триллер,ужасы</a></p>
<p><a href="/movies/fantasy/">Фильмы жанра фантастика</a></p>
<br><br>
<a href="{% url 'movies:add_movie' %}">Добавить</a>
<br><br><br>
{% for i in movie_list %}
    <h1>{{ i.title }}</h1>
    <img src="{{ i.image.url }}" alt="" width="300" height="400">
    <h2>{{ i.genre }}</h2>
    <button><a href="/movies/{{ i.id }}/">Подробнее</a></button>
    <br>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <button><a href="/movies/{{ i.id }}/drop/">Удалить</a></button>
    <button><a href="/movies/{{ i.id }}/edit/">Редактировать</a></button>
    </form>
{% endfor %}

</body>
</html>