{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/book_list.css' %}">

<h1>Все книги</h1>

<div class="square_mom">
{% for i in book_object %}
    <div class="card" style="width: 18rem;">
        <img src="{{ i.cover.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ i.title }} {{ i.author }}</h5>
            <p class="card-text">{{ i.price }} сом {{ i.genre }}</p>
            <a href="/book_list/{{ i.id }}/" class="btn btn-primary">Подробнее</a>
        </div>
    </div>
{% endfor %}
</div>

{% include 'footer.html' %}